body{
background-color:lightgreen;
}
.note{
    font-size:15px;
    text-align:center;
    color:black;
}
h1{
    text-align:center;
    box-shadow:5px 5px 5px red;
}
#footer{
    position:fixed;
    bottom:0;
    letter-spacing:3px;
    color:white;
    background-color:grey;
    font-weight:bold;
    font-size:20px;
    width:100%;
    line-height:3;
    text-align:center;
}
canvas{
    box-shadow:5px 5px 5px white;
    border-radius:20px;
    border:5px solid white;
}